@import "../../styles/constants.scss";

.input {
  height: 2.5rem;
  position: relative;
  border: 1px solid $gray-40;
  border-radius: 0.5rem;
  width: 100%;
  transition: 0.2s;
  text-overflow: ellipsis;

  &-normal {
    padding-left: 0.75rem;
  }

  &-search {
    padding-left: 2.625rem;
  }

  &:hover {
    border: 1px solid $gray-70;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: 1px solid $green;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &-search {
    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      width: 18px;
      height: 18px;
      left: 1rem;
      background-image: url("../../images/icons/search.svg");
    }
  }
}
