$gray: #f7f7f7;
$gray-10: #fafafa;
$gray-40: #dbdcde;
$gray-50: #d7d8da;
$gray-70: #a9abae;
$gray-80: #6c6d6f;
$gray-100: #2f2f30;
$links: #6665dd;
$green: #00a651;
$baseSize: 16px;
$white: #fff;

$lg: 900px;
