@font-face {
  font-family: "WorkSans";
  src: local("WorkSans"),
    url("../fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans"),
    url("../fonts/WorkSans//WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
