@import "../../styles/constants.scss";

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.tab {
  padding: 1.875rem 1.5rem 0;
  position: relative;
  .scroll {
    max-width: 888px;
    max-height: 2.98rem;
    overflow: hidden;

    &-block {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $gray-40;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  button {
    z-index: 1;
    flex-shrink: 0;
    position: relative;
    padding: 0.8125rem 1rem;
    background-color: $white;
    text-transform: uppercase;
    letter-spacing: 0.003em;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
    transition: 0.2s;

    &:not(.active) {
      border-bottom: 1px solid $gray-40;
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      border-top: 1px solid $white;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
      &:not(.active) {
        background-color: $gray-40;
        border-right: 1px solid $gray-40;
        border-left: 1px solid $gray-40;
      }
    }

    &:focus-visible {
      &:not(.active) {
        outline: none;
        background-color: $gray-70;
        border-right: 1px solid $gray-70;
        border-left: 1px solid $gray-70;
      }
    }
  }

  .active {
    border-radius: 0.375rem 0.375rem 0 0;
    border-bottom: 1px solid $white;
    border-right: 1px solid $gray-40;
    border-left: 1px solid $gray-40;
    border-top: 1px solid $gray-40;
    color: $green;

    &:focus-visible {
      outline: none;
      border-bottom: 1px solid $white;
      border-right: 1px solid $green;
      border-left: 1px solid $green;
      border-top: 1px solid $green;
    }
  }
}

.content {
  line-height: 1.25rem;
  &-form {
    padding: 2.5rem 3.75rem;
    display: grid;
    grid-template-columns: 124px 1fr;
    grid-column-gap: 1rem;

    fieldset {
      border: none;
      padding: 0;
      margin-bottom: 1.5rem;
    }

    label,
    span {
      letter-spacing: 0.052rem;
    }

    > *:nth-child(2n-1) {
      display: flex;
      justify-content: flex-end;
    }

    > label {
      line-height: 2.5rem;
    }
  }
}

.designation {
  margin-bottom: 1.5rem;
  max-width: 296px;
  width: 100%;

  &-select {
    width: 100%;
  }
}

.goal {
  display: flex;
  margin-bottom: 1.5rem;

  &-input {
    width: 192px;
    margin-right: 1.5rem;
  }

  &-select {
    width: 80px;
  }
}

.amount {
  margin-bottom: 2rem;

  &-wrapper-input {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &-radio,
  &-checkBox {
    margin-right: 0.75rem;
  }
}

.border {
  display: flex;
  align-items: center;
  &-size {
    margin-bottom: 1.3rem;
  }

  &-сaption {
    line-height: 1.5rem;
  }

  label {
    line-height: 1.5rem;
  }
}

.range {
  max-width: 218px;
  width: 100%;
  margin-right: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 0.375rem;
  letter-spacing: 0.01rem;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &-save {
    color: $white;
    background-color: $green;
    margin-right: 1rem;
    border: 1px solid transparent;

    &:focus-visible {
      outline: 1px solid $gray-70;
    }
  }

  &-cancel {
    border: 1px solid $gray-70;
    color: $gray-100;
    background-color: $white;

    &:focus-visible {
      border: 1px solid transparent;
      outline: 1px solid $green;
    }
  }
}

.footer {
  padding: 1.5rem 2rem;
  background-color: #fffbec;
}

@media screen and (max-width: $md) {
  .content {
    &-form {
      padding: 2.5rem 1.5rem;
    }
  }

  .goal {
    &-input {
      width: 100%;
      max-width: 192px;
    }
  }
}
