@import "./styles/constants.scss";

.main {
  padding: 53px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  max-width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 264px;
  grid-column-gap: 1.5rem;

  &-setting {
    display: grid;
    grid-row-gap: 1.5rem;
  }
}

@media screen and (max-width: $lg) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;

    &-setting {
      order: 2;
    }
  }
}
