@import "./styles/fonts.scss";
@import "./styles/normalize.scss";
@import "./styles/constants.scss";

* {
  box-sizing: border-box;
}

:root {
  background-color: $gray;
  font-size: $baseSize;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
